
@{
    ViewBag.Title = "FAQ";
}

<h2>Preguntas frecuentes</h2>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">Que es SHOOTR?</div>
    <div class="panel-body">SHOOTR es una pagina web que busca solucionar el problema de fotografos y modelos para coordinar sesiones juntos.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Cuanto cuesta usar SHOOTR?</div>
    <div class="panel-body">Por el momento es gratuito, y solo se puede usar para sesiones por intercambio.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Como creo una cuenta?</div>
    <div class="panel-body">Puedes crear una cuenta desde <a href="/Account/Register">aqui</a>.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Como se usa SHOOTR?</div>
    <div class="panel-body">Primero debes crear tu cuenta, luego puedes completar tu porfolio. En el menu de PROPUESTAS puedes buscar y postularte para las propuestas disponibles. Una vez que el creador de la propuesta te acepta coordinan la sesion y luego se califican.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Quienes pueden crear propuestas?</div>
    <div class="panel-body">Tanto fotografos como modelos pueden crearlas, pero solo su contraparte puede postularse.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Como obtengo mas detalles de una propuesta?</div>
    <div class="panel-body">En la parte inferior de la pagina de cada propuesta hay un espacio de preguntas y respuestas.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Que es la calificacion?</div>
    <div class="panel-body">La calificacion de cada usuario es el promedio de calificaciones obtenidas en los trabajos realizados, un numero mas alto es mejor.</div>
</div>