
@{
    ViewBag.Title = "FAQ";
}

<h2>Preguntas frecuentes</h2>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">Qué es SHOOTR?</div>
    <div class="panel-body">SHOOTR es una pagina web que busca solucionar el problema de fotógrafos y modelos para coordinar sesiones juntos.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Cuánto cuesta usar SHOOTR?</div>
    <div class="panel-body">Por el momento es gratuito, y solo se puede usar para sesiones por intercambio.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Cómo creo una cuenta?</div>
    <div class="panel-body">Podés crear una cuenta <a href="/Account/Register">aquí</a>.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Cómo se usa SHOOTR?</div>
    <div class="panel-body">Primero debés crear tu cuenta, luego podés completar tu porfolio. En el menu de PROPUESTAS podés buscar y postularte para las propuestas disponibles. Una vez que el creador de la propuesta te acepta coordinan la sesión y luego se califican.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Quiénes pueden crear propuestas?</div>
    <div class="panel-body">Tanto fotógrafos como modelos pueden crearlas, pero sólo su contraparte puede postularse.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Cómo obtengo más detalles de una propuesta?</div>
    <div class="panel-body">En la parte inferior de la página de cada propuesta hay un espacio de preguntas y respuestas.</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Qué es la calificación?</div>
    <div class="panel-body">La calificación de cada usuario es el promedio de calificaciones obtenidas en los trabajos realizados, un número más alto es mejor.</div>
</div>