
@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner  align-middle">
            <div class="item active">
                <img src="~/Carousel/3.jpg" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="~/Carousel/1.jpg" alt="Chicago">
            </div>

            <div class="item">
                <img src="~/Carousel/4.jpg" alt="New York">
            </div>
            <div class="item">
                <img src="~/Carousel/2.jpg" alt="New York">
            </div>
        </div>

    </div>
    <h1>Shootr</h1>
    <p class="lead">Shootr es el sitio gratuito donde podes encontrar modelos y fotografos para realizar proyectos y expandir sus porfolios</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p>
            Para comenzar a utilizar Shootr primero necesitas registrarte
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Registrarse &raquo;</a></p>
    </div>
</div>